/rsbyDjango/venv
/background/venv1
/background/venv
/rsbyDjango/static/img/环境室
/rsbyDjango/static/img/极地室
/rsbyDjango/static/img/气候室1
/rsbyDjango/static/img/气象室
/rsbyDjango/static/img/预警室
/rsbyDjango/static/img/预警室2
/displaydemo/node_modules
/displaydemo/dist
/displaydemo/src/img/person
/rsbyDjango/extra_sourcecode/xadmin/__pycache__
/rsbyDjango/data/__pycache__
