{ % extends "_Layout.html" %}
{ % block content %}
	<section class="container">
		    <div class="page-header">
		        <h1>暂时不添加<br>
		            <small>测试测试</small></h1>
		    </div>
		    <div class="row active-with-click">
		        <div class="col-md-4 col-sm-6 col-xs-12">
		            <article class="material-card Indigo">
		                <h2>
		                    <span>值班员A</span>
		                    <strong>
		                        <i class="fa fa-fw fa-star"></i>
		                        风暴潮
		                    </strong>
		                </h2>
		                <div class="mc-content">

		                    <div class="img-container">
		                        <img class="img-responsive" src="img/thumb-christopher-walken.jpg">
		                    </div>
		                    <div class="mc-description">
		                        联系电话
		                    </div>
		                </div>
		                <!--不在显示点赞图片及对应的a标签-->
		                <!--<a class="mc-btn-action">
		                    <i class="fa fa-bars"></i>
		                </a>-->
		                <div class="mc-footer">
		                    <h4>
		                        Social
		                    </h4>
		                </div>
		            </article>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		            <article class="material-card Indigo">
		                <h2>
		                    <span>值班员B</span>
		                    <strong>
		                        <i class="fa fa-fw fa-star"></i>
		                        海浪
		                    </strong>
		                </h2>
		                <div class="mc-content">
		                    <div class="img-container">
		                        <img class="img-responsive" src="img/thumb-sean-penn.jpg">
		                    </div>
		                    <div class="mc-description">
		                        联系电话
		                    </div>
		                </div>
		                <a class="mc-btn-action">
		                    <i class="fa fa-bars"></i>
		                </a>
		                <div class="mc-footer">
		                    <h4>
		                        Social
		                    </h4>
		                    <a class="fa fa-fw fa-facebook"></a>
		                    <a class="fa fa-fw fa-twitter"></a>
		                    <a class="fa fa-fw fa-linkedin"></a>
		                    <a class="fa fa-fw fa-google-plus"></a>
		                </div>
		            </article>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		            <article class="material-card Indigo">
		                <h2>
		                    <span>值班员C</span>
		                    <strong>
		                        <i class="fa fa-fw fa-star"></i>
		                        海冰
		                    </strong>
		                </h2>
		                <div class="mc-content">
		                    <div class="img-container">
		                        <img class="img-responsive" src="img/thumb-clint-eastwood.jpg">
		                    </div>
		                    <div class="mc-description">
		                        He rose to international fame with his role as the Man with No Name in Sergio Leone's Dollars trilogy of spaghetti Westerns during the 1960s ...
		                    </div>
		                </div>
		                <a class="mc-btn-action">
		                    <i class="fa fa-bars"></i>
		                </a>
		                <div class="mc-footer">
		                    <h4>
		                        Social
		                    </h4>
		                    <a class="fa fa-fw fa-facebook"></a>
		                    <a class="fa fa-fw fa-twitter"></a>
		                    <a class="fa fa-fw fa-linkedin"></a>
		                    <a class="fa fa-fw fa-google-plus"></a>
		                </div>
		            </article>
		        </div>
		    		<div class="col-md-4 col-sm-6 col-xs-12">
		            <article class="material-card Indigo">
		                <h2>
		                    <span>值班员B</span>
		                    <strong>
		                        <i class="fa fa-fw fa-star"></i>
		                        三维组
		                    </strong>
		                </h2>
		                <div class="mc-content">
		                    <div class="img-container">
		                        <img class="img-responsive" src="img/thumb-sean-penn.jpg">
		                    </div>
		                    <div class="mc-description">
		                        联系电话
		                    </div>
		                </div>
		                <a class="mc-btn-action">
		                    <i class="fa fa-bars"></i>
		                </a>
		                <div class="mc-footer">
		                    <h4>
		                        Social
		                    </h4>
		                    <a class="fa fa-fw fa-facebook"></a>
		                    <a class="fa fa-fw fa-twitter"></a>
		                    <a class="fa fa-fw fa-linkedin"></a>
		                    <a class="fa fa-fw fa-google-plus"></a>
		                </div>
		            </article>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		            <article class="material-card Indigo">
		                <h2>
		                    <span>值班员B</span>
		                    <strong>
		                        <i class="fa fa-fw fa-star"></i>
		                        生态组
		                    </strong>
		                </h2>
		                <div class="mc-content">
		                    <div class="img-container">
		                        <img class="img-responsive" src="img/thumb-sean-penn.jpg">
		                    </div>
		                    <div class="mc-description">
		                        联系电话
		                    </div>
		                </div>
		                <a class="mc-btn-action">
		                    <i class="fa fa-bars"></i>
		                </a>
		                <div class="mc-footer">
		                    <h4>
		                        Social
		                    </h4>
		                    <a class="fa fa-fw fa-facebook"></a>
		                    <a class="fa fa-fw fa-twitter"></a>
		                    <a class="fa fa-fw fa-linkedin"></a>
		                    <a class="fa fa-fw fa-google-plus"></a>
		                </div>
		            </article>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		            <article class="material-card Indigo">
		                <h2>
		                    <span>值班员B</span>
		                    <strong>
		                        <i class="fa fa-fw fa-star"></i>
		                        应急组
		                    </strong>
		                </h2>
		                <div class="mc-content">
		                    <div class="img-container">
		                        <img class="img-responsive" src="img/thumb-sean-penn.jpg">
		                    </div>
		                    <div class="mc-description">
		                        联系电话
		                    </div>
		                </div>
		                <a class="mc-btn-action">
		                    <i class="fa fa-bars"></i>
		                </a>
		                <div class="mc-footer">
		                    <h4>
		                        Social
		                    </h4>
		                    <a class="fa fa-fw fa-facebook"></a>
		                    <a class="fa fa-fw fa-twitter"></a>
		                    <a class="fa fa-fw fa-linkedin"></a>
		                    <a class="fa fa-fw fa-google-plus"></a>
		                </div>
		            </article>
		        </div>


		    <!--</div>-->
		    <!--<div class="row active-with-hover">-->
		     </div>
		</section>

{ % endblock %}

{% block bottom-js %}